
@{
	ViewData["Title"] = "Hotel Henry VIII";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" style="margin-top:120px;">
			<h1>Administración del Hotel Henry VIII</h1>
		</div>
		<div class="mx-auto align-content-center">
			<img src="/Logo/logoHotel.png" alt="Logo" class="img-fluid" />
		</div>
	</div>
</div>

